body {
    font-family:Comic-sans,sans-serif;
    background: #e64f22;
    margin: 0;
    padding: 0;
}
header {
    background: #4f46e5;
    color: white;
    padding: 20px;
    text-align: center;
}
.external-link {
    color: #ffe58a;
    font-weight: bold;
}
.container {
    display: flex;
    padding: 20px;
}
.items, .cart {
    width: 50%;
    padding: 20px;
}
.item {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.item button {
    background: #6366f1;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.item button:hover {
    background: #4338ca;
}
.cart {
    background: #6346b3;
    border-left: 3px solid #4f46e5;
    border-radius: 10px;
}
#cart-list li {
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}